.homePage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.postContents {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: aliceblue;
  border: none;
  box-shadow: 0px 0px 32px 3px #777777;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.postHeader h1 {
  text-align: center;
  margin-top: 5px;
}

.postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 10%;
  background-color: darksalmon;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 32px 3px #777777;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.nameAndDeleteButton button:hover {
  background-color: rgb(238, 128, 91);
}

.nameAndDeleteButton h3 {
  flex: 90%;
}
